@charset "UTF-8";
body {
  margin: 0%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "header"  "localisation" "introduction" "fonctionnement" "restaurants" "footer";
  row-gap: 40px;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
}

#localisation {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: localisation;
  background-color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#introduction {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: introduction;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.introduction_bouton {
  color: white;
  font-size: 20px;
  border-radius: 30px;
  background-color: pink;
  width: 30%;
  height: 60px;
}

#fonctionnement {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: fonctionnement;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 90% 5%;
      grid-template-columns: 5% 90% 5%;
      grid-template-areas: ". fonctionnement_titre ." ". fonctionnement_box_1 ." ". fonctionnement_box_2 ." ". fonctionnement_box_3 .";
  row-gap: 20px;
}

.fonctionnement_titre {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: fonctionnement_titre;
}

.fonctionnement_box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 10% 70% 10%;
      grid-template-columns: 10% 10% 70% 10%;
      grid-template-areas: "fonctionnement_box_numero fonctionnement_box_icon fonctionnement_box_titre .";
  background-color: #fdc1fd;
  border-radius: 20px;
  width: 100%;
}

.fonctionnement_box_1 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: fonctionnement_box_1;
}

.fonctionnement_box_2 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: fonctionnement_box_2;
}

.fonctionnement_box_3 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: fonctionnement_box_3;
}

.fonctionnement_box_titre {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: fonctionnement_box_titre;
}

#restaurants {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: restaurants;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 100% 5%;
      grid-template-columns: 5% 100% 5%;
  -ms-grid-rows: 0.3fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr;
      grid-template-areas: ". restaurants_titre ." ". restaurants_box_1 ." ". restaurants_box_2 ." ". restaurants_box_3 ." ". restaurants_box_4 .";
  background-color: grey;
}

.restaurants_titre {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: restaurants_titre;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurants_box {
  grid-area: box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 30px;
  width: 90%;
  -webkit-margin-after: 5%;
          margin-block-end: 5%;
  overflow: hidden;
}

.restaurants_box_1 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: restaurants_box_1;
}

.restaurants_box_2 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: restaurants_box_2;
}

.restaurants_box_3 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: restaurants_box_3;
}

.restaurants_box_4 {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: restaurants_box_4;
}

.restaurants_image {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 100%;
  height: 710px;
  margin: -270px 0px 0px 0px;
}

.restaurants_image-lanoteenchantée {
  margin: -560px 0px 0px 0px;
  -o-object-position: 0px 210px;
     object-position: 0px 210px;
  height: 1000px;
}

.restaurants_box_texte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0% 10% 0% 10%;
}

.restaurants_like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: footer;
  -webkit-padding-start: 5%;
          padding-inline-start: 5%;
  background-color: black;
  color: white;
}

.footer_link {
  color: white;
}

.footer_link:hover {
  color: white;
}

.footer_link:active {
  color: white;
}

.footer_link:visited {
  color: white;
}
/*# sourceMappingURL=style.css.map */