@charset "UTF-8";
/* Animations */
@-webkit-keyframes box_animation {
  from {
    -webkit-transform: translatey(15%);
            transform: translatey(15%);
    opacity: 0;
  }
  to {
    -webkit-transform: translatey(0%);
            transform: translatey(0%);
    opacity: 1;
  }
}
@keyframes box_animation {
  from {
    -webkit-transform: translatey(15%);
            transform: translatey(15%);
    opacity: 0;
  }
  to {
    -webkit-transform: translatey(0%);
            transform: translatey(0%);
    opacity: 1;
  }
}

@-webkit-keyframes box_hover {
  from {
    grid-template-columns: 90% 10% 0%;
  }
  to {
    grid-template-columns: 70% 10% 20%;
  }
}

@keyframes box_hover {
  from {
    -ms-grid-columns: 90% 10% 0%;
        grid-template-columns: 90% 10% 0%;
  }
  to {
    -ms-grid-columns: 70% 10% 20%;
        grid-template-columns: 70% 10% 20%;
  }
}

/* Utilisation Générale */
/* Utilisation pour les pages de restaurants */
h1 {
  font-size: 60px;
}

body {
  margin: 0%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "header"  "localisation" "introduction" "fonctionnement" "restaurants" "footer";
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  padding-top: 5%;
  padding-bottom: 3%;
}

#localisation {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: localisation;
  background-color: #EAEAEA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 5%;
          column-gap: 5%;
}

.localisation_texte {
  font-size: 45px;
}

.localisation_icon {
  font-size: 45px;
}

#introduction {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: introduction;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10%;
  padding-top: 5%;
  background-color: #F6F6F6;
}

.introduction_titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding-right: 10%;
  padding-left: 10%;
  font-size: 75px;
  margin-bottom: 0px;
}

.introduction_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-size: 50px;
}

.introduction_bouton {
  color: white;
  font-size: 35px;
  border-radius: 60px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  width: 45%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#fonctionnement {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: fonctionnement;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 90% 5%;
      grid-template-columns: 5% 90% 5%;
      grid-template-areas: ". fonctionnement_titre ." ". fonctionnement_box_1 ." ". fonctionnement_box_2 ." ". fonctionnement_box_3 .";
  row-gap: 35px;
  padding-top: 5%;
  padding-bottom: 10%;
}

.fonctionnement_titre {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: fonctionnement_titre;
  font-size: 30px;
}

.fonctionnement_box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 8% 10% 75% 7%;
      grid-template-columns: 8% 10% 75% 7%;
      grid-template-areas: "fonctionnement_box_numero fonctionnement_box_icon fonctionnement_box_titre";
  background-color: #F6F6F6;
  border-radius: 30px;
  width: 100%;
}

.fonctionnement_box_1 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: fonctionnement_box_1;
}

.fonctionnement_box_2 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: fonctionnement_box_2;
}

.fonctionnement_box_3 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: fonctionnement_box_3;
}

.fonctionnement_box_titre {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: fonctionnement_box_titre;
  font-size: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
}

.fonctionnement_box_icon {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: fonctionnement_box_icon;
  font-size: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
}

#restaurants {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: restaurants;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 90% 5%;
      grid-template-columns: 5% 90% 5%;
  -ms-grid-rows: 0.3fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr;
      grid-template-areas: ". restaurants_titre ." ". restaurants_box_1 ." ". restaurants_box_2 ." ". restaurants_box_3 ." ". restaurants_box_4 .";
  background-color: #F6F6F6;
  padding-top: 5%;
  padding-bottom: 10%;
}

.restaurants_titre {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: restaurants_titre;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurants_box {
  grid-area: box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 30px;
  width: 100%;
  -webkit-margin-after: 5%;
          margin-block-end: 5%;
  overflow: hidden;
}

.restaurants_box_1 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: restaurants_box_1;
}

.restaurants_box_2 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: restaurants_box_2;
}

.restaurants_box_3 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: restaurants_box_3;
}

.restaurants_box_4 {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: restaurants_box_4;
}

.restaurants_box_link, .restaurants_box_link:active, .restaurants_box_link:link, .restaurants_box_link:visited {
  color: black;
  text-decoration: none;
}

.restaurants_image {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 100%;
  height: 710px;
  margin: -270px 0px 0px 0px;
}

.restaurants_image-lanoteenchantée {
  margin: -560px 0px 0px 0px;
  -o-object-position: 0px 210px;
     object-position: 0px 210px;
  height: 1000px;
}

.restaurants_box_texte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 3%;
}

.restaurants_texte_titre {
  font-size: 45px;
  margin-bottom: 5%;
}

.restaurants_texte_lieu {
  font-size: 40px;
  margin-top: 0px;
}

.restaurants_like {
  margin-right: 10%;
  font-size: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: footer;
  -webkit-padding-start: 5%;
          padding-inline-start: 5%;
  background-color: #353535;
  color: white;
}

.footer_link {
  color: white;
  text-decoration: none;
}

.footer_link:hover {
  color: white;
  text-decoration: none;
}

.footer_link:active {
  color: white;
  text-decoration: none;
}

.footer_link:visited {
  color: white;
  text-decoration: none;
}

.footer_titre {
  font-style: italic;
}

.footer_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 3%;
          column-gap: 3%;
}

.footer_texte {
  font-size: 40px;
  margin-top: 0%;
}

.footer_icon, .footer_icon:active, .footer_icon:hover, .footer_icon:visited {
  font-size: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_icon_hands, .footer_icon_hands:active, .footer_icon_hands:hover, .footer_icon_hands:visited {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 55px;
}

#header, #header:active, #header:visited {
  text-decoration: none;
  color: black;
  padding-top: 5%;
  padding-bottom: 3%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 15% 50% 25%;
      grid-template-columns: 10% 15% 50% 25%;
      grid-template-areas: ". header_icon header_image .";
}

.header_icon, .header_icon:visited, .header_icon:active, .header_icon:hover {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: header_icon;
  font-size: 45px;
  -ms-flex-item-align: center;
      align-self: center;
}

.header_image {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: header_image;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
}

.image {
  width: 100%;
}

#body {
  border: 0px;
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
  background-color: #F6F6F6;
  margin-top: -140px;
}

.titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 3%;
  margin-right: 5%;
  font-style: italic;
}

.titre_icon, .titre_icon:hover, .titre_icon:active {
  font-size: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.entrées {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 15px;
  padding-top: 5%;
}

.box_commandes {
  background-color: white;
  border-radius: 40px;
  width: 90%;
  padding-left: 3%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90% 10% 0%;
      grid-template-columns: 90% 10% 0%;
      grid-template-areas: "box_commandes_texte_1 box_commandes_prix_1 box_commandes_check_1";
  -webkit-animation: box_animation 2s;
          animation: box_animation 2s;
}

.box_commandes:hover, .box_commandes:active {
  -webkit-animation: 0.5s box_hover;
          animation: 0.5s box_hover;
}

.box_commandes_titre {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin-left: 5%;
}

.box_commandes_texte {
  width: 90%;
}

.box_commandes_prix {
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.box_commandes_prix_position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 30%;
}

.box_commandes_texte_titre {
  font-size: 55px;
  margin-top: 5%;
  margin-bottom: 0%;
}

.box_commandes_texte_description {
  font-size: 40px;
  margin-top: 2%;
}

.plats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 15px;
  padding-top: 5%;
}

.desserts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 15px;
  padding-top: 5%;
}

.bouton_commandes {
  color: white;
  font-size: 35px;
  border-radius: 60px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  width: 45%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bouton_commandes_menu {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 25%;
}

.footer_titre {
  font-style: italic;
}

.footer_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 3%;
          column-gap: 3%;
}

.footer_texte {
  font-size: 40px;
  margin-top: 0%;
}

.footer_icon, .footer_icon:active, .footer_icon:hover, .footer_icon:visited {
  font-size: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_icon_hands, .footer_icon_hands:active, .footer_icon_hands:hover, .footer_icon_hands:visited {
  font-size: 40px;
}

h1 {
  width: 80%;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 55px;
}

#header, #header:active, #header:visited {
  text-decoration: none;
  color: black;
  padding-top: 5%;
  padding-bottom: 3%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 15% 50% 25%;
      grid-template-columns: 10% 15% 50% 25%;
      grid-template-areas: ". header_icon header_image .";
}

.header_icon, .header_icon:visited, .header_icon:active, .header_icon:hover {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: header_icon;
  font-size: 45px;
  -ms-flex-item-align: center;
      align-self: center;
}

.header_image {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: header_image;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
}

.image {
  width: 100%;
}

#body {
  border: 0px;
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
  background-color: #F6F6F6;
  margin-top: -140px;
}

.titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 3%;
  margin-right: 5%;
  font-style: italic;
}

.titre_icon, .titre_icon:hover, .titre_icon:active {
  font-size: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.entrées {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 15px;
  padding-top: 5%;
}

.box_commandes {
  background-color: white;
  border-radius: 40px;
  width: 90%;
  padding-left: 3%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90% 10% 0%;
      grid-template-columns: 90% 10% 0%;
      grid-template-areas: "box_commandes_texte_1 box_commandes_prix_1 box_commandes_check_1";
  -webkit-animation: box_animation 2s;
          animation: box_animation 2s;
}

.box_commandes:hover, .box_commandes:active {
  -webkit-animation: 0.5s box_hover;
          animation: 0.5s box_hover;
}

.box_commandes_titre {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin-left: 5%;
}

.box_commandes_texte {
  width: 90%;
}

.box_commandes_texte_1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: box_commandes_texte_1;
}

.box_commandes_prix {
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.box_commandes_prix_1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: box_commandes_prix_1;
}

.box_commandes_prix_position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 30%;
}

.box_commandes_texte_titre {
  font-size: 55px;
  margin-top: 5%;
  margin-bottom: 0%;
}

.box_commandes_texte_description {
  font-size: 40px;
  margin-top: 2%;
}

.box_commandes_check {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: box_commandes_check_1;
  background-color: #99E2D0;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  place-content: center;
}

.box_commandes_check_1 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: box_commandes_check_1;
}

.box_commandes_check_icon {
  font-size: 70px;
}

.plats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 15px;
  padding-top: 5%;
}

.desserts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 15px;
  padding-top: 5%;
}

.bouton_commandes {
  color: white;
  font-size: 35px;
  border-radius: 60px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  width: 45%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bouton_commandes_menu {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 25%;
}

.footer_titre {
  font-style: italic;
}

.footer_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 3%;
          column-gap: 3%;
}

.footer_texte {
  font-size: 40px;
  margin-top: 0%;
}

.footer_icon, .footer_icon:active, .footer_icon:hover, .footer_icon:visited {
  font-size: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_icon_hands, .footer_icon_hands:active, .footer_icon_hands:hover, .footer_icon_hands:visited {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 55px;
}

#header, #header:active, #header:visited {
  text-decoration: none;
  color: black;
  padding-top: 5%;
  padding-bottom: 3%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 15% 50% 25%;
      grid-template-columns: 10% 15% 50% 25%;
      grid-template-areas: ". header_icon header_image .";
}

.header_icon, .header_icon:visited, .header_icon:active, .header_icon:hover {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: header_icon;
  font-size: 45px;
  -ms-flex-item-align: center;
      align-self: center;
}

.header_image {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: header_image;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
}

.image {
  width: 100%;
}

#body {
  border: 0px;
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
  background-color: #F6F6F6;
  margin-top: -140px;
}

.titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 3%;
  margin-right: 5%;
  font-style: italic;
}

.titre_icon, .titre_icon:hover, .titre_icon:active {
  font-size: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.entrées {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 15px;
  padding-top: 5%;
}

.box_commandes {
  background-color: white;
  border-radius: 40px;
  width: 90%;
  padding-left: 3%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90% 10% 0%;
      grid-template-columns: 90% 10% 0%;
      grid-template-areas: "box_commandes_texte_1 box_commandes_prix_1 box_commandes_check_1";
  -webkit-animation: box_animation 2s;
          animation: box_animation 2s;
}

.box_commandes:hover, .box_commandes:active {
  -webkit-animation: 0.5s box_hover;
          animation: 0.5s box_hover;
}

.box_commandes_titre {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin-left: 5%;
}

.box_commandes_texte {
  width: 90%;
}

.box_commandes_prix {
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.box_commandes_prix_position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 30%;
}

.box_commandes_texte_titre {
  font-size: 55px;
  margin-top: 5%;
  margin-bottom: 0%;
}

.box_commandes_texte_description {
  font-size: 40px;
  margin-top: 2%;
}

.plats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 15px;
  padding-top: 5%;
}

.desserts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 15px;
  padding-top: 5%;
}

.bouton_commandes {
  color: white;
  font-size: 35px;
  border-radius: 60px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  width: 45%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bouton_commandes_menu {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 25%;
}

.footer_titre {
  font-style: italic;
}

.footer_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 3%;
          column-gap: 3%;
}

.footer_texte {
  font-size: 40px;
  margin-top: 0%;
}

.footer_icon, .footer_icon:active, .footer_icon:hover, .footer_icon:visited {
  font-size: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_icon_hands, .footer_icon_hands:active, .footer_icon_hands:hover, .footer_icon_hands:visited {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 55px;
}

#header, #header:active, #header:visited {
  text-decoration: none;
  color: black;
  padding-top: 5%;
  padding-bottom: 3%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 15% 50% 25%;
      grid-template-columns: 10% 15% 50% 25%;
      grid-template-areas: ". header_icon header_image .";
}

.header_icon, .header_icon:visited, .header_icon:active, .header_icon:hover {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: header_icon;
  font-size: 45px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header_image {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: header_image;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
}

.image {
  width: 100%;
}

#body {
  border: 0px;
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
  background-color: #F6F6F6;
  margin-top: -140px;
}

.titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 3%;
  margin-right: 5%;
  font-style: italic;
}

.titre_icon, .titre_icon:hover, .titre_icon:active {
  font-size: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.entrées {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 15px;
  padding-top: 5%;
}

.box_commandes {
  background-color: white;
  border-radius: 40px;
  width: 90%;
  padding-left: 3%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90% 10% 0%;
      grid-template-columns: 90% 10% 0%;
      grid-template-areas: "box_commandes_texte_1 box_commandes_prix_1 box_commandes_check_1";
  -webkit-animation: box_animation 2s;
          animation: box_animation 2s;
}

.box_commandes:hover, .box_commandes:active {
  -webkit-animation: 0.5s box_hover;
          animation: 0.5s box_hover;
}

.box_commandes_titre {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin-left: 5%;
}

.box_commandes_texte {
  width: 90%;
}

.box_commandes_prix {
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.box_commandes_prix_position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 30%;
}

.box_commandes_texte_titre {
  font-size: 55px;
  margin-top: 5%;
  margin-bottom: 0%;
}

.box_commandes_texte_description {
  font-size: 40px;
  margin-top: 2%;
}

.plats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 15px;
  padding-top: 5%;
}

.desserts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 15px;
  padding-top: 5%;
}

.bouton_commandes {
  color: white;
  font-size: 35px;
  border-radius: 60px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  width: 45%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bouton_commandes_menu {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 25%;
}

.footer_titre {
  font-style: italic;
}

.footer_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 3%;
          column-gap: 3%;
}

.footer_texte {
  font-size: 40px;
  margin-top: 0%;
}

.footer_icon, .footer_icon:active, .footer_icon:hover, .footer_icon:visited {
  font-size: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_icon_hands, .footer_icon_hands:active, .footer_icon_hands:hover, .footer_icon_hands:visited {
  font-size: 40px;
}
/*# sourceMappingURL=style.css.map */