@charset "UTF-8";
body {
  margin: 0%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 0.5fr 1fr 1fr 3fr;
      grid-template-rows: 0.5fr 1fr 1fr 3fr;
      grid-template-areas: "header"  "localisation" "introduction" "fonctionnement" "restaurants" "footer";
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
}

#localisation {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: localisation;
  background-color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#introduction {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: introduction;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.introduction_bouton {
  color: white;
  font-size: 20px;
  border-radius: 30px;
  background-color: pink;
  width: 30%;
  height: 60px;
}

#fonctionnement {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: fonctionnement;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.fonctionnement_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fdc1fd;
  border-radius: 20px;
  width: 70%;
}

#restaurants {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: restaurants;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10%;
  background-color: grey;
}

.restaurants_titre {
  -webkit-margin-start: 5%;
          margin-inline-start: 5%;
}

.restaurants_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: white;
  border-radius: 30px;
  width: 90%;
  -webkit-margin-after: 5%;
          margin-block-end: 5%;
  overflow: hidden;
}

.restaurants_image {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 100%;
  height: 710px;
  margin: -270px 0px 0px 0px;
}

.restaurants_image-lanoteenchantée {
  margin: -560px 0px 0px 0px;
  -o-object-position: 0px 210px;
     object-position: 0px 210px;
  height: 1000px;
}

.restaurants_texte {
  -webkit-margin-start: 5%;
          margin-inline-start: 5%;
  grid-area: texte;
}

.restaurants_like {
  grid-area: like;
}

footer {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: footer;
  -webkit-padding-start: 5%;
          padding-inline-start: 5%;
  background-color: black;
  color: white;
}

.footer_link {
  color: white;
}

.footer_link:hover {
  color: white;
}

.footer_link:active {
  color: white;
}

.footer_link:visited {
  color: white;
}
/*# sourceMappingURL=style.css.map */