h2{
    font-size: 35px;
}

h3{
    font-size: 55px;
}

#header , #header:active, #header:visited{
    @include header;
}

    .header_icon, .header_icon:visited, .header_icon:active, .header_icon:hover{ 
        @include header_icon;
    }

    .header_image{
        @include header_image;
    }

.image{
    width: 100%;
}

#body{
    @include body;  
}

    .titre {
        @include titre;
    }

        .titre_icon ,.titre_icon:hover , .titre_icon:active{
            @include titre_icon;
        }

.entrées{
    @include box_menu;
}

.box_commandes{
    @include box_commandes;
}


.box_commandes_titre{
    @include box_commandes_titre;
}

.box_commandes_texte{
    @include box_commandes_texte;
}

.box_commandes_prix{
    @include box_commandes_prix;
}

.box_commandes_prix_position{
    @include box_commandes_prix_position;
}

.box_commandes_texte_titre{
    @include box_commandes_texte_titre;
}

.box_commandes_texte_description{
    @include box_commandes_texte_description;
}


.plats{
    @include box_menu;
}

.desserts{
    @include box_menu;
}

.bouton_commandes{
    @include bouton;
}

.bouton_commandes_menu{
    @include bouton_commandes_menu;
}

.footer_titre{
    font-style: italic;
}

.footer_link{
    display: flex;
    flex-direction: row;
    column-gap: 3%;
}

.footer_texte{
    font-size: 40px;
    margin-top: 0%;
}

.footer_icon, .footer_icon:active, .footer_icon:hover, .footer_icon:visited{
    font-size: 50px;
    display: flex;
    align-items: center;
}

.footer_icon_hands , .footer_icon_hands:active, .footer_icon_hands:hover, .footer_icon_hands:visited{
    font-size: 40px;
}