h1{
    font-size: 60px;
}


body{
    margin: 0%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header" 
    "localisation"
    "introduction"
    "fonctionnement"
    "restaurants"
    "footer";
}
    header{
        grid-area: header;
        align-self: center;
        justify-self: center;

        display: flex;
        justify-content: center;
        width: 80%;
        padding-top: 5%;
        padding-bottom: 3%;
    }

    #localisation{
        grid-area: localisation;
        background-color: $background-body;

        display: flex;
        align-items: center;
        justify-content: center;

        column-gap: 5%;
    }

        .localisation_texte{
            font-size: 45px;
        }

        .localisation_icon{
            font-size: 45px;
        }

    #introduction{
        grid-area: introduction;

        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 10%;
        padding-top: 5%;
        background-color: #F6F6F6;

    }

        .introduction_titre{
            display: flex;
            text-align: center;
            padding-right: 10%;
            padding-left: 10%;
            font-size: 75px;
            margin-bottom: 0px;
        }

        .introduction_description{
            display: flex;
            text-align: center;
            font-size: 50px;
        }

        .introduction_bouton{
            @include bouton
        }

    #fonctionnement{
        grid-area: fonctionnement;

        display: grid;
        grid-template-columns: 5% 90% 5%;
        grid-template-areas: 
        ". fonctionnement_titre ."
        ". fonctionnement_box_1 ."
        ". fonctionnement_box_2 ."
        ". fonctionnement_box_3 .";

        row-gap: 35px;

        padding-top: 5%;
        padding-bottom: 10%;
    }

        .fonctionnement_titre{
            grid-area: fonctionnement_titre;
            
            font-size: 30px;
        }


        .fonctionnement_box{
            display: grid;
            grid-template-columns: 8% 10% 75% 7%;
            grid-template-areas: 
            "fonctionnement_box_numero fonctionnement_box_icon fonctionnement_box_titre";
            

            background-color: #F6F6F6;
            border-radius: 30px;
            width: 100%;
        }

            .fonctionnement_box_1{
                grid-area: fonctionnement_box_1;
            }

            .fonctionnement_box_2{
                grid-area: fonctionnement_box_2;
            }

            .fonctionnement_box_3{
                grid-area: fonctionnement_box_3;
            }

            .fonctionnement_box_titre{
                grid-area: fonctionnement_box_titre;
                font-size: 45px;
                display: flex;
                align-self: center;
                justify-self: center;
            }

            .fonctionnement_box_icon{
                grid-area: fonctionnement_box_icon;
                font-size: 45px;
                
                display: flex;
                align-self: center;
                justify-self: center;
            }



    #restaurants{
        grid-area: restaurants;

        display: grid;
        grid-template-columns: 5% 90% 5%;
        grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        ". restaurants_titre ."
        ". restaurants_box_1 ."
        ". restaurants_box_2 ."
        ". restaurants_box_3 ."
        ". restaurants_box_4 .";

        background-color: #F6F6F6;
        padding-top: 5%;
        padding-bottom: 10%;
    }

        .restaurants_titre{
            grid-area: restaurants_titre;

            display: flex;
            align-items: center;
        }

        .restaurants_box{
            grid-area: box;

            display: flex;
            flex-direction: column;


            background-color: white;
            border-radius: 30px;
            width: 100%;
            margin-block-end: 5%;

            overflow: hidden;

        }

            .restaurants_box_1{
                grid-area: restaurants_box_1;
            }

            .restaurants_box_2{
                grid-area: restaurants_box_2;
            }

            .restaurants_box_3{
                grid-area: restaurants_box_3;
            }

            .restaurants_box_4{
                grid-area: restaurants_box_4;
            }



            .restaurants_box_link, .restaurants_box_link:active, .restaurants_box_link:link, .restaurants_box_link:visited{
                    color: black;
                    text-decoration: none;
            }


        
            .restaurants_image{
                border-top-left-radius: 30px;
                border-top-right-radius: 30px;
                width: 100%;
                height: 710px;
                margin: -270px 0px 0px 0px;

            }

                .restaurants_image-lanoteenchantée{
                    margin: -560px 0px 0px 0px;
                    object-position: 0px 210px;
                    height: 1000px;
                }

            .restaurants_box_texte{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-left: 3%;
            }

                .restaurants_texte_titre{
                    font-size: 45px;
                    margin-bottom: 5%;
                }

                .restaurants_texte_lieu{
                    font-size: 40px;
                    margin-top: 0px;
                }

                .restaurants_like{

                    margin-right: 10%;
                    font-size: 70px;
                    display: flex;
                    align-items: center;
                }




        

    

footer{
    grid-area: footer;

    padding-inline-start: 5%;
    background-color: $background-footer;
    color: $color-white;
}

.footer_link{
    color: $color-white;
    text-decoration: none;

        &:hover{
            color: $color-white;
            text-decoration: none;
        }

        &:active{
            color: $color-white;
            text-decoration: none;
        }
        &:visited{
            color: $color-white;
            text-decoration: none;
        }
}

.footer_titre{
    font-style: italic;
}

.footer_link{
    display: flex;
    flex-direction: row;
    column-gap: 3%;
}

.footer_texte{
    font-size: 40px;
    margin-top: 0%;
}

.footer_icon, .footer_icon:active, .footer_icon:hover, .footer_icon:visited{
    font-size: 50px;
    display: flex;
    align-items: center;
}

.footer_icon_hands , .footer_icon_hands:active, .footer_icon_hands:hover, .footer_icon_hands:visited{
    font-size: 40px;
}
