body{
    margin: 0%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 3fr ;
    grid-template-areas:
    "header" 
    "localisation"
    "introduction"
    "fonctionnement"
    "restaurants"
    "footer";
}
    header{
        grid-area: header;
        align-self: center;
        justify-self: center;

        display: flex;
        justify-content: center;
        width: 80%;
    }

    #localisation{
        grid-area: localisation;
        background-color: $background-body;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    #introduction{
        grid-area: introduction;

        display: flex;
        flex-direction: column;
        align-items: center;

    }

        .introduction_bouton{
            @include bouton
        }

    #fonctionnement{
        grid-area: fonctionnement;

        align-items: center;

        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

        .fonctionnement_box{
            display: flex;
            align-items: center;
            

            background-color: rgb(253, 193, 253);
            border-radius: 20px;
            width: 70%;
        }



    #restaurants{
        grid-area: restaurants;

        display: flex;
        flex-direction: column;
        background-color: $background-body;
    }

        .restaurants_titre{
            margin-inline-start: 5%;

        }

        .restaurants_box{
            display: flex;
            flex-direction: column;
            align-self: center;
            background-color: white;
            border-radius: 30px;
            width: 90%;
            margin-block-end: 5%;

        }
        
            .restaurants_image{
                border-top-left-radius: 30px;
                border-top-right-radius: 30px;
                width: 100%;
                height: 588px;
                background-size: cover;
                
            }

            .restaurants_texte{
                margin-inline-start: 5%;
                grid-area: texte;
            }

            .restaurants_like{
                grid-area: like;
            }


        

    

footer{
    grid-area: footer;

    padding-inline-start: 5%;
    background-color: $background-footer;
    color: $color-white;
}

.footer_link{
    color: $color-white;

        &:hover{
            color: $color-white
        }

        &:active{
            color: $color-white
        }
        &:visited{
            color: $color-white
        }
}



