/* Animations */

@keyframes box_animation {
        from{
            transform: translatey(15%);
            opacity: 0;
        }
        to{
            transform: translatey(0%);
            opacity: 1;
        }
}




/* Utilisation Générale */

@mixin bouton {
    color: white;
    font-size: 35px;
    border-radius: 60px;
    background: linear-gradient(#FF79DA, #9356DC);
    width: 45%;
    height: 120px;

    display: flex;
    align-self: center;
    justify-content: center;
}

@mixin bouton_commandes_menu {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 25%;
}


/* Utilisation pour les pages de restaurants */

@mixin home {
    text-decoration: none;
    color: black;
    padding-top: 5%;
    padding-bottom: 3%;
    display: grid;
    grid-template-columns: 10% 15% 50% 25%;
    grid-template-areas: 
    ". header_icon header_image .";
}

    @mixin header_icon {
        grid-area: header_icon;
        
        font-size: 45px;
        align-self: center;
    }

    @mixin header_image {
        grid-area: header_image;

        display: flex;
        justify-self: center;
    }



@mixin body {
    border: 0px;
    border-top-left-radius: 55px;
    border-top-right-radius: 55px;
    background-color: #F6F6F6;
    margin-top: -140px;
}    

    @mixin titre {
        display: flex;
        justify-content: space-between;
        margin-left: 3%;
        margin-right: 5%;
        font-style: italic;
    }

    @mixin titre_icon {
        font-size: 60px;
        display: flex;
        align-items: center;
        align-self: center;
    }





@mixin box_commandes {
    background-color: white;
    border-radius: 40px;
    width: 90%;
    padding-left: 3%;


        display: grid;
        grid-template-columns: 90% 10% 0%;
        grid-template-areas: 
        "box_commandes_texte_1 box_commandes_prix_1 box_commandes_check_1";

    animation: box_animation 2s;


        &:hover, &:active{
            grid-template-columns: 70% 10% 20%;
        }
}


@mixin box_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    padding-top: 5%;

}

@mixin box_commandes_titre {
    align-self: start;
    margin-left: 5%;
}

@mixin box_commandes_texte_titre {
    font-size: 55px;   
    margin-top: 5%; 
    margin-bottom: 0%;
}

@mixin box_commandes_texte_description {
    font-size: 40px;
    margin-top: 2%;
}

@mixin box_commandes_check {
    grid-area: box_commandes_check_1;
    background-color: green;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    align-items: center;
    place-content: center;

}


@mixin box_commandes_check_icon {
    font-size: 70px;
}

@mixin box_commandes_texte{
    width: 90%;
}

    @mixin box_commandes_texte_1 {
        grid-area: box_commandes_texte_1;
    }

@mixin box_commandes_prix {
    width: 100%;
    align-self: flex-end;
}

    @mixin box_commandes_prix_position {
        display: flex;
        align-self: flex-end;
        margin-bottom: 30%;
    }


        @mixin box_commandes_prix_1 {
            grid-area: box_commandes_prix_1;
        }


@mixin box_commandes_check_1 {
    grid-area: box_commandes_check_1;

}

